div{
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    
}


#leftSidebar{
    background-color: rgb(54, 53, 53);
}

#main{
    background-color: rgb(255, 255, 255);
    height: 200px;
}

#leftSidebar{
    position: fixed;
    float: left;
    height: 715px;
    width: 300px;
}

#main{
    
    height: 715px;
    margin-left: 300px;
    margin-right: auto;
    
}
section{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

 .name {
    color: #f0f0f0;
    margin: 3px 0 0;
    font-family: "Bitter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 70%;
    max-width: 200px;
    margin-left: 40px;
    margin-top: 40px;
    
}
.sidebar .menu ul li a {
    display: block;
    padding: 10px 20px 10px 78px;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    
    
}
.sidebar .menu ul li a i {
    position: absolute;
    left: 40px;
    top: 8px;
    display: inline-block;
    width: 24px;
    height: 24px;
    
    
    background-repeat: no-repeat;
    background-size: 168px 72px;

    
}





:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
li {
    text-align: -webkit-match-parent;
}
body{
    line-height: 20px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:hover{
    color: coral;
}

.sidebar .menu ul li a:hover{
    color:coral;
    
  
}




.sidebar .menu ul li a .i_custom{
    background: url("../../images/orange4.png") no-repeat; /* изображение по умолчанию */
    height: 120px; /* высота изображения */
    width: 120px; /* ширина изображения */

}
.sidebar .menu ul li.active a{
    color: coral;
}
.sidebar .menu ul li.active a:after {
    position: absolute;
    right: 0;
    top: 50%;
    margin: -12px 0 0 0;
    content: '';
    border-right: 12px solid #fff;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
}


.sidebar hr{
    margin: 34px 0;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    margin-top: 1em;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}
hr:after {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: #cccccc;
    left: 0;
    top: 0;
}

.hr_news hr {
    display: block;
    height: 2px;
    border: 0;
    margin: 2em 0;
    padding: 0;
    position: relative;
}
.hr_news hr:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #cccccc;
    left: 0;
    top: 0;
}


.container {
    padding-right: 300px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: 300px;
}

.content .container .form{
    display: block;
    margin-top: 0em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in 0s;
}
.popup {
    top: 0;
    left: 0;
    right: 0;       
    font-size: 14px;
    height: 100%;
    
    max-width: 300px;
    position: fixed;
    
    
    background-color: #fcfcfc;
    z-index: 1000;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    
}
.close {
    top: 10px;
    right: 20px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background: url(../../images/strelka_l.png); background-size: 100% ;
    
    cursor: pointer;
    outline: none;
}
.close:before {
    
    
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    
}
.close:hover {
    background: url(../../images/strelka_l_oran.png); background-size: 100%;
}
.li_zap{
  list-style-type: none;
  font-size: 20px;
  line-height: 1.8;
  margin-left: 38px;
  
}

.first2{
  background: url(../../images/menu_w.png); background-size: 100% ;
  width: 32px; height: 32px;
  border-radius: 50%;
  border: none;
  
}
   .first2:hover {
  background: url(../../images/menu_or.png); background-size: 100%;
}


body{
  background-color: rgb(255, 255, 255);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(242, 236, 236);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #5e5c5c;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.prof_li{
    list-style-type: none;
}
.prof_main{
    margin-left: 40px;
    font-size: 20px;
    font-weight: bolder;
}
.prof_ex{
   text-align: center;}
   a.button7 {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(255, 0, 0);
  box-shadow: 0 -3px rgb(0, 0, 0) inset;
  transition: 0.2s;
} 
a.button7:hover { background: rgb(243, 49, 49); }
a.button7:active {
  background: rgb(236, 51, 51);
  box-shadow: 0 3px rgb(0, 0, 0) inset;
}

.first2{
    background: url(../../images/menu_w.png); background-size: 100% ;
    width: 32px; height: 32px;
    border-radius: 50%;
    border: none;
    
  }
     .first2:hover {
    background: url(../../images/menu_or.png); background-size: 100%;
  }


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}}

  .popup {
    top: 0;
    left: 0;
    right: 0;       
    font-size: 14px;
    height: 100%;
    
    max-width: 300px;
    position: fixed;
    
    
    background-color: #fcfcfc;
    z-index: 1000;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
  }

  .li_zap{
    list-style-type: none;
    font-size: 20px;
    line-height: 1.8;
    margin-left: 38px;
    
  }

  #mySidenav.popup p.zag{margin:20px 0 10px;padding:0 0 6px;color:tomato;font-size:16px;font-weight:bold;border-bottom:1px solid tomato;
    margin-left: 40px;font-size: 20px;}

    .li_zap p{
        margin-top: 50px;
        
    }  

    p.zag{
        font-size: 30px;
        font-weight: bolder;
        margin-left: 38px;
        margin-bottom: 20px;
        color: coral;
        
    }

   

    .exit{
        margin-left: 38px;
        margin-right: 128px;
        
    }

    a.exit{
        
        background-color: coral;
     }

    p.exip{
        margin-top: 20px;
    } 






    .section {
        display: block;
    }

   .section .container {
        
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }

 

  .container h1 {
    font-size: 42px;
    line-height: 50px;
    margin-top: 50px;
    font-weight: bolder;
    margin-bottom: 70px;

}

.control_main{
    display: block;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.otchet_nom{
    font-size: larger;
    margin-bottom: 20px;
}

.control_vniz{
    display: flex;
    justify-content: space-around;
    
    
}
.contol_block a{
    text-decoration: none;
    color: #000000;
}
.control-menu{
    border: solid #000000;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    
}

.img_contr{
    text-align: center;
}
.control_name{
    text-align: center;
    text-decoration: none;
    
}
 .a_othet .contol_block{
    color: #000000;
}

.contol_block{
    position: relative;
}

:root {
    --colour1: #f1c40f;
    --colour2: #2c3e50;
    --speed: 4s;
  }

  @keyframes slide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 113px;
    }
  }
  .bar {
    
    margin-top: 18px;
    min-height: 10px;
    border-radius: 10px;
    width: calc(40px * 4);
    @media only screen and (max-width: 450px) {
      width: calc(40px * 3);
    }
    @media only screen and (max-width: 350px) {
      width: calc(40px * 2);
    }
    box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
    
    background-color: var(--colour2);
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 4px,
      var(--colour1) 4px,
      var(--colour1) 8px
    );

    animation: slide var(--speed) linear infinite;
    will-change: background-position;
  }
 
 

.sub_div{
    text-align: center;
    
}

label{
    margin-left:10px ;
}


.submenu{position:absolute; 
          
          margin-right: 30px; }
        .submenu li{display: none;
            margin-top: 10px;
     
            border: solid #0000000c; }

.contol_block:hover > .submenu li{
    display: block;
}

.submit{
    width: 80px;
}



.fadep {
	display: none;
}
.fadep:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.up {
	position: fixed;
	top: 30px;
	margin-left: 350px;
	padding: 20px;
	width: 800px;
    height: 100%;
	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.pclose {
	position: absolute;
	top: 10px;
	right: 10px;
}
.message{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.div_nach{
    text-align: center;
}
.p_othet{
    font-size: larger;
    font-weight: bolder;
}

#nagmi_na_meni{
    width: 160px; background-color: chartreuse;
}

#nu_vot_i_vse{
    width: 160px; background-color: chartreuse;
}
.div_mess{
    text-align: center;
    margin-top: 50px;
}
.a_othet{
    text-decoration: none;
    pointer-events: none;
}

